// .container{
//     position: relative;
// }

.option-promo{
    display: flex;
    list-style: none;
    li{
        background-image: url('https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/bg-danh-muc-desktop.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: calc(100%/3 - 16px);
        margin-right: 20px;
        background-color: #fff;
        border-radius: 12px;
        padding: 15px 0;
    }
    li a img{
        display: inline-block;
        vertical-align: middle;
        width: auto;
        height: 70px;
    }
    li a{
        display: block;
        overflow: hidden;
        text-decoration: none;
        padding-left: 30px;
    }
    li a span{
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: #222;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
        margin-left: 10px;
        max-width: 65%;
    }
}
.big-baner {
    overflow: hidden;
    img {
        width: 100%;
        height: max-content;
    }
}
#carouselMain{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.carousel-inner{
    border-radius: 30px;
}
.section{
    &-deal{
        img{
            width: 100%;
        }
    }
    &-container{
        
    }
}
.col-1{
    width:10%;
}
.box-list{
    position: relative;

}
.box-list::after{
    position: absolute;
}
.name-box{
    overflow: hidden;
    line-height: 36px;
    font-size: 22px;
    padding: 15px;
    &::before{
        content: '';
        background-size: 100%;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Icon/mut.png');
    }
    &::after{
        content: '';
        width: 128px;
        height: 50px;
        position: absolute;
        right: 135px;
        top: 0;
        background-size: 100%;
        background-image: url('https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/bg-top1-danh-muc-noi-bat.png');
        background-repeat: no-repeat;
    }
}
.img-respon{
    width: 50%!important;
}
@media screen and (max-width:768px) {
    .option-promo{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        li{
            width: calc(50% - 32px);
            padding: 16px;
            margin: 16px;
        }
        li a img{
            height: 50px;
        }
    }
    .box-list{
        .row{
            .col-1{
                width: 20%;
            }
        }
    }
    .img-respon{
        height: 200px;
    }
    .card{
        &-title{
            font-size: 0.9rem;
        }
    }

}