<link rel="stylesheet" href="./page/home/index.module.css">
<div class="container-fluid" ng-controller="homeCtrl">
    <div class="big-baner">
        <img src="https://cdn.tgdd.vn/2023/01/banner/LiveBanner-Bighero---TGDD-minn-1920x450.png" alt="">
    </div>
    <div class="body">
        <div id="carouselMain" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="First slide"></li>
                <li data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Second slide"></li>
                <li data-bs-target="#carouselMain" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="https://cdn.tgdd.vn/2022/12/banner/vivo-tet720-220-720x220-2.webp" class="w-100 d-block"
                        alt="First slide">
                </div>
                <div class="carousel-item ">
                    <img src="https://cdn.tgdd.vn/2023/01/banner/720-220-720x220-10.png" class="w-100 d-block"
                        alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn.tgdd.vn/2022/12/banner/reno8-tet-720-220-720x220-2.webp" class="w-100 d-block"
                        alt="Third slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
                <i class="fa-solid fa-circle-chevron-left" style="font-size: 40px;"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                <i class="fa-solid fa-circle-chevron-right" style="font-size: 40px;"></i>

                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <ul class="option-promo">
            <li>
                <a href="https://www.thegioididong.com/samsung">
                    <img width="50" height="50" data-src="https://cdn.tgdd.vn//content/Frame-46604--1--120x120-1.png"
                        class=" ls-is-cached lazyloaded" alt="Samsung Giảm Sốc"
                        src="https://cdn.tgdd.vn//content/Frame-46604--1--120x120-1.png">
                    <span>
                        Samsung Giảm Sốc
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/dong-ho-gia-soc">
                    <img width="50" height="50" data-src="https://cdn.tgdd.vn//content/NEW-YEAR-ICON-120x120.gif"
                        class=" lazyloaded" alt="Đồng hồSale đến 70%"
                        src="https://cdn.tgdd.vn//content/NEW-YEAR-ICON-120x120.gif">
                    <span>
                        Đồng hồ<br>Sale đến 70%
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/laptop-gia-soc">
                    <img width="50" height="50" data-src="https://cdn.tgdd.vn//content/icon-laptop-xa-kho-100x100-1.png"
                        class=" lazyloaded" alt="Laptop xả kho"
                        src="https://cdn.tgdd.vn//content/icon-laptop-xa-kho-100x100-1.png">
                    <span>
                        Laptop xả kho
                    </span>
                </a>
            </li>
            <li>
                <a href="/may-doi-tra/">
                    <img width="50" height="50" data-src="https://cdn.tgdd.vn//content/icon-TGDD-OF-100x100.gif"
                        class=" lazyloaded" alt="Máy cũGiảm đến 50%"
                        src="https://cdn.tgdd.vn//content/icon-TGDD-OF-100x100.gif">
                    <span>
                        Máy cũ<br>Giảm đến 50%
                    </span>
                </a>
            </li>

        </ul>
        <section class="section-deal bg-warning pb-5">
            <img src="https://cdn.tgdd.vn/2023/01/banner/Banner-hotsale-1200x120-1.png" alt="">
            <div id="carouselProduct" class="carousel slide mt-5" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselProduct" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="First slide"></li>
                    <li data-bs-target="#carouselProduct" data-bs-slide-to="1" aria-label="Second slide"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-around">
                            <div class="card col-5" ng-repeat="sp in sanpham | limitTo: 2:0">
                                <img class="card-img-top pt-2 d-block mx-auto img-respon" src="{{sp.hinhanh}}"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{sp.tensp}}</h4>
                                    <p class="card-text fw-bold text-danger">{{sp.giasp | currency:"":0}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-around">
                            <div class="card col-5" ng-repeat="sp in sanpham | limitTo: 2:2">
                                <img class="card-img-top pt-2 d-block mx-auto img-respon" src="{{sp.hinhanh}}"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{sp.tensp}}</h4>
                                    <p class="card-text fw-bold text-danger">{{sp.giasp | currency:"":0}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct"
                    data-bs-slide="prev">
                    <i class="fa-solid fa-circle-chevron-left text-dark" style="font-size: 3rem;"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct"
                    data-bs-slide="next">
                    <i class="fa-solid fa-circle-chevron-right text-dark" style="font-size: 3rem;"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section class="bg-light box-list my-5 p-5 pt-0">
            <strong class="name-box">DANH MỤC NỔI BẬT</strong>
            <div class="row px-4 d-flex justify-content-around" style="font-size: 0.8rem;">
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Laptop-129x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Laptop</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Tablet-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Tablet</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Donghothongminh-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Đồng hồ thông minh</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/icon-DTGR-30x30.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Điện thoại độc quyền</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Donghothoitrang-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Đồng hồ thời trang</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/icon-may-cu-60x60.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Máy cũ giá rẻ</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Oplung-128x128.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Ốp lưng</span>
                    </div>
                </div>

                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/chuot-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Chuột máy tính</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/ban-phim-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Bàn phím</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Simthecao-129x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Sim, Thẻ cào</span>
                    </div>
                </div>
            </div>
            <div class="row px-4 d-flex justify-content-around" style="font-size: 0.8rem;">
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Loa-128x128.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Loa</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Tainghe-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Tai nghe</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Sacduphong-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Sạc dự phòng</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Capsac-129x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Cáp sạc</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Maytinhbo-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Máy tính bộ</span>
                    </div>
                </div>

                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Mayin-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Máy in</span>
                    </div>
                </div>

                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Manhinhmaytinh-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Màn hình máy tính</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/Phukiengaming-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Phụ kiện gaming</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/icon-camera-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Camera, Webcam</span>
                    </div>
                </div>
                <div class="card border-0 bg-light col-1">
                    <div class="card-body text-center">
                        <img src="https://cdn.tgdd.vn//content/may-chieu-icon-128x129.png" style="height: 60px;" alt="hình">
                        <span class="card-text">Thiết bị nhà thông minh</span>
                    </div>
                </div>
            </div>
        </section>
        <section style="height: 300px;">
            <h4>CHUYÊN GIA THƯƠNG HIỆU</h4>
            <div class="row">
                <img class="col-4" style="border-radius: 25px;" src="https://cdn.tgdd.vn/2022/11/banner/samsung-390-210--1--390x210.png" alt="">
                <img class="col-4" style="border-radius: 25px;" src="https://cdn.tgdd.vn/2023/01/banner/4138F801-4823-44D5-B626-32025C4D329C-390x210.png" alt="">
                <img class="col-4" style="border-radius: 25px;" src="https://cdn.tgdd.vn/2023/01/banner/Mac-390x210.png" alt="">
            </div>
        </section>
        <section style="height: 300px;">
            <h4>CHUỖI MỚI DEAL KHỦNG</h4>
            <div class="row">
                <img class="col-4" style="border-radius: 25px;"  src="https://cdn.tgdd.vn/2023/01/banner/760-400-760x400-7.png" alt="">
                <img class="col-4" style="border-radius: 25px;" src="https://cdn.tgdd.vn/2023/01/banner/Component-30-380x200-2.png" alt="">
                <img class="col-4" style="border-radius: 25px;" src="https://cdn.tgdd.vn/2023/01/banner/760x400-760x400-5.png" alt="">
            </div>
        </section>
    </div>
</div>