$color: #2fcc76;
a.active{
    background-color: $color !important;
}
.btn-link{
    --bs-btn-color:  #2fcc76 !important;;
}
.form-check-input{
    border-color: $color;
}
.form-check-input:checked{
    background-color: $color !important; 
    border-color: $color;
    box-shadow: $color;
}
