$color: #2fcc76;
.container-detail {
    margin: 0;
    padding: 0 5%;
    background-color: white;

    .row {
        .col-5 {
            .color {
                button {
                    margin-right: 10px;
                }
            }

            .buy {
                button {
                    color: white;
                    margin-bottom: 10px;
                    height: 50px;
                    text-transform: uppercase;
                }

                .btn-buy {
                    background-color:$color ;
                    width: 100%;
                }
            }
        }

        .col-7 {
            .group-item {
                div.item {
                    width: 80px;

                    span {
                        font-size: small;
                    }
                }

            }
        }
    }
}