<link rel="stylesheet" href="./page/profile/index.css">
<div class="container-profile " ng-controller="profileCtrl">
    <!-- <div class="row d-flex flex-fill  h-100"> -->
        <div class="row">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-dark"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                            alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                        <h5>{{user.tenkh}}</h5>
                        <p>Khách Hàng</p>
                        <i class="far fa-edit mb-5"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-4">
                            <h6>Thông tin cá nhân</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">{{user.email}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Điện thoại</h6>
                                    <p class="text-muted">{{user.sdt}}</p>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Địa chỉ</h6>
                                    <p class="text-muted">{{user.diachi}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Mật khẩu</h6>
                                    <p class="text-muted">{{user.matkhau}}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <a href="#!"><i class="fab fa-facebook-f fa-lg me-3" style="color: #2fcc76;"
                                    ></i></a>
                                <a href="#!"><i class="fab fa-twitter fa-lg me-3" style="color: #2fcc76"></i></a>
                                <a href="#!"><i class="fab fa-instagram fa-lg" style="color: #2fcc76"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row mx-0">
                            <h6>Lịch sử mua hàng</h6>
                            <div class="table-responsive-md">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mã đơn hàng</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Ngày mua</th>
                                            <th scope="col">Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td scope="row"></td>
                                            <td scope="row"></td>
                                            <td scope="row"></td>
                                            <td scope="row"></td>
                                            <td scope="row"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    <!-- </div> -->
</div>