<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: white">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
          <ul class="nav d-block" style="list-style: none;">
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Tích điểm Quà tặng VIP</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Lịch sử mua hàng</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Tìm hiểu về mua trả góp</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Chính sách bảo hành</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Chính xác đổi trả</a>
            </li>
            
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <ul class="nav d-block" style="list-style: none;">
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Giới thiệu công ty (MWG.vn)</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Tuyển dụng</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Gửi góp ý, khiếu nại</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Tìm siêu thị (3.385 shop)</a>
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link ps-0 text-dark">Xem bản mobile</a>
            </li>
            
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <p>
            <span class="text-dark"><span class="fw-bold">Tổng đài hỗ trợ</span> (Miễn phí gọi)</span>
          </p>
          <p>
            <span class="text-dark">Gọi mua: <span class="text-primary">1800.1060</span> Từ 25/01 (Mùng 4 Tết)</span>
          </p>
          <p>
            <span class="text-dark">Kỹ thuật: <span class="text-primary">1800.1060</span> Từ 25/01 (Mùng 4 Tết)</span>
          </p>
          <p>
            <span class="text-dark">Khiếu nại: <span class="text-primary">1800.1060</span> Từ 25/01 (Mùng 4 Tết)</span>
          </p>
          <p>
            <span class="text-dark">Bảo hành: <span class="text-primary">1800.1060</span> Từ 25/01 (Mùng 4 Tết)</span>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <p>
            <span><i class="fa fa-facebook-square text-primary" aria-hidden="true"></i> 3786k Fan</span>
            <span><i class="fa fa-youtube-square text-danger" aria-hidden="true"></i> 855k Đăng ký</span>
          </p>
          <p>
            <p>Website cùng tập đoàn</p>
            <img class="w-100" src="https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.png?v=4" alt="">
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

 
  <!-- Copyright -->
</footer>
<!-- Footer -->