$color-btn:#2fcc76;
.logo{
    width: 228px;
}
#nav{
    &-header::before{
        background: url('https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/hoa-mai.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.button-nav{
    background-color: $color-btn!important;
}
.header{
    width: 28%;
}
.color-custom{
    >*{color: $color-btn;}
}
.button-link{
    padding: 0px 21px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.navbar-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}