<link rel="stylesheet" href="./page/register/index.css">

<div class="container-sm container-md w-50 py-5 mt-1" style="background-color: white;" ng-controller="registerCtrl">
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link " style="color: #2fcc76;" id="tab-login" href="#!login">Đăng nhập</a>
        </li>
        <li class="nav-item active" role="presentation">
            <a class="nav-link text-light" id="tab-register" href="#!register">Đăng kí</a>
        </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content">
        <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form>
                <div class="text-center mb-3">
                    <p>Đăng nhập với:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>

                <p class="text-center">or:</p>

                <!-- Email input -->
                <div class="form-group mb-4">
                    <input type="email" id="loginName" class="form-control" />
                    <label class="form-label" for="loginName">Email hoặc username</label>
                </div>

                <!-- Password input -->
                <div class="form-group mb-4">
                    <input type="password" id="loginPassword" class="form-control" />
                    <label class="form-label" for="loginPassword">Mật khẩu</label>
                </div>

                <!-- 2 column grid layout -->
                <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-3 mb-md-0">
                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                            <label class="form-check-label" for="loginCheck"> Nhớ mật khẩu </label>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="#!">Quên mật khẩu?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-warning btn-block mb-4">Đăng nhập</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="#!">Đăng ký</a></p>
                </div>
            </form>
        </div>
        <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
            <form name="frmRegister" ng-submit="submit($event)" novalidate>
                <div class="text-center mb-3">
                    <p>Đăng ký với:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>

                <p class="text-center">or:</p>

                <!-- Name input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="registerName">Họ và tên</label>
                    <input type="text" id="registerName" name="tenkh" ng-model="tenkh" class="form-control" required />
                    <div ng-show="frmRegister.tenkh.length">Họ và tên không được để trống</div>
                    <div ng-show="frmRegister.tenkh.$invalid && frmRegister.tenkh.$dirty">Họ tên không hợp lệ</div>
                </div>

                <!-- Email input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="registerEmail">Email</label>
                    <input type="email" id="registerEmail" name="email" ng-model="email" class="form-control"required />
                    <div ng-show="frmRegister.email.$invalid && frmRegister.email.$dirty">Email không hợp lệ</div>

                </div>
                <!-- Gender input -->
                <div class="form-outline mb-4">
                    <label for="" class="form-label">Giới tính</label>
                    <select ng-model="gioitinh" class="form-select form-select-lg" required name="gioitinh" id="gioitinh">
                        <option value="0" selected>Nam</option>
                        <option value="1">Nữ</option>
                    </select>
                </div>
                <!-- Password input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="registerPassword">Mật khẩu</label>
                    <input type="password" id="registerPassword" minlength="8" name="matkhau" ng-model="matkhau" class="form-control" required />
                    <div ng-show="frmRegister.matkhau.$invalid && frmRegister.matkhau.$dirty">Độ dài mật khẩu tối thiểu 8 chữ số</div>
                </div>

                <!-- Repeat Password input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="registerRepeatPassword">Nhập lại mật khẩu</label>
                    <input type="password" id="registerRepeatPassword" minlength="8" name="matkhau2" ng-model="matkhau2" class="form-control" required />
                    <div ng-show="frmRegister.matkhau2.$dirty && matkhau2 != matkhau">Không khớp</div>
                </div>
                <!-- Phone Number input  -->
                <div class="form-group mb-4">
                    <label class="form-label" for="registerPlace">Số điện thoại</label>
                    <input type="text" id="registerNumberPhone" maxlength="10" class="form-control" ng-model="sdt" name="sdt" required />
                    <div ng-show="frmRegister.sdt.$dirty && frmRegister.sdt.$invalid">Số điện thoại bạn nhập vào không hợp lệ</div>
                </div>
                <!-- Place input -->
                <div class="form-group mb-4">
                    <label class="form-label" for="registerPlace">Địa chỉ</label>
                    <input type="text" id="registerPlace" class="form-control" ng-model="diachi" name="diachi" required />
                    <div ng-show="frmRegister.diachi.$invalid && frmRegister.diachi.$dirty">Vui lòng không bỏ trống địa chỉ</div>
                </div>
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                        aria-describedby="registerCheckHelpText" />
                    <label class="form-check-label" for="registerCheck">
                        Tôi đồng ý với các điều khoản
                    </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-default btn-block mb-3" style="background-color: #2fcc76;">Đăng
                    kí</button>
                    <div ng-show ="message"class="alert alert-danger alert-dismissible" role="alert">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        {{message}}
                        <button type="button" ng-click="message = false" class="btn-close" aria-label="Close"></button>
                    </div>

            </form>
        </div>
    </div>
    <!-- Pills content -->
</div>