$color: #2fcc76;
#tab-register{
    background-color: $color !important;
}
.btn-link{
    --bs-btn-color: #2fcc76 !important;;
}
.form-check-input{
    border-color: #2fcc76;
}
.form-check-input:checked{
    background-color: $color !important; 
    border-color: #2fcc76;
    box-shadow: $color;
}
