<link rel="stylesheet" href="./page/changepassword/index.css">
<div class="container-change pt-5 bg-white d-flex flex-row justify-content-center">
    <form class="w-75 mb-5">
        <legend>Đổi mật khẩu</legend>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form1Example1" class="form-control" />
          <label class="form-label" for="form1Example1">Nhập mật khẩu mới</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form1Example2" class="form-control" />
          <label class="form-label" for="form1Example2">Xác nhận mật khẩu mới</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block d-block mx-auto">Tiếp theo</button>
      </form>
</div>