<link rel="stylesheet" href="./page/cart/index.css">
<div class="container-cart" ng-controller="cartCtrl">
    <section class="h-100">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Giỏ hàng</h3>
                        <div>
                            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                        </div>
                    </div>

                    <div class="card d-flex flex-row rounded-3 mb-4" ng-repeat="giohang in cart ">
                        <div class="card-header custom-header d-flex flex-column justify-content-center">
                            <input type="checkbox" ng-model="giohang.isChon">
                        </div>
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="{{giohang.details_color.url}}" class="img-fluid rounded-3"
                                        alt="{{giohang.details_sp.tensp}}">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">{{giohang.details_sp.tensp}}</p>
                                    <p><span class="text-muted">Màu:
                                        </span>{{giohang.details_color.tenmau}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link px-2"
                                    ng-click="changeNumber(giohang.magiohang,giohang.soluong,'-')">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input  min="0" name="quantity"
                                        value="{{giohang.soluong}}" type="number"
                                        class="form-control form-control-sm" />

                                    <!-- <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button> -->
                                    <button class="btn btn-link px-2"
                                        ng-click="changeNumber(giohang.magiohang,giohang.soluong,'+')">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">{{giohang.details_sp.giasp | currency:"":0}} đ</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <button ng-click="delete(giohang.magiohang)" class="text-danger"><i
                                            class="fas fa-trash fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <a href="#!order" ng-click="toOrder()" class="btn btn-default btn-block float-end btn-lg"
                                style="background-color:#2fcc76">Tiếp tục</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>